<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="PeTit" class="img-responsive text-center" src="modules/core/img/brand/logo-petit.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Open-Source Full-Stack Solution For MEAN Applications
			</p>
		</div>
		<div class="row">
            <p>
                <a class="btn btn-warning btn-lg" href="https://www.facebook.com/petitbrigadeiria" target="_blank">
                Conheça-nos
                </a>
            </p>
		</div>
	</div>
	<div>
        <h2>PeTit Admin</h2>
        <p>Essa é a versão beta da aplicação responsável por gerir as informações financeiras da Petit Brigadeiria</p>
        <p>
            Clique
            <em>Login</em>
            para iniciar as operações.
        </p>
        <p>
            Configure sua aplicação para trabalhar com redes sociais editando o arquivo
            <em>/config/env/*.js</em>
        </p>
	</div>
	<div class="row">
		<div class="col-md-3">
			<h2>
				MongoDB
			</h2>
			<p>Banco de Dados <a target="_blank" href="http://mongodb.org/">MongoDB</a>. MongoDB possui um <a target="_blank" href="http://docs.mongodb.org/manual/">manual</a> com informações sobre NoSQL and MongoDB.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Express
			</h2>
			<p><a target="_blank" href="http://expressjs.com/"> Express</a> é um framework para serviços. Acesse o <a target="_blank" href="http://expressjs.com/guide.html">Guia Oficial</a> ou o <a target="_blank" href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js">StackOverflow</a> para mais informações.</p>
		</div>
		<div class="col-md-3">
			<h2>
				AngularJS
			</h2>
			<p>AngularJS é um framework para criar aplicações web. Acesse <a target="_blank" href="http://angularjs.org/">AngularJS</a>, <a target="_blank" href="http://www.thinkster.io/">Thinkster Popular Guide</a> e <a target="_blank" href="https://egghead.io/">Egghead Videos</a> para mais informações.</p>
		</div>
		<div class="col-md-3">
			<h2>
				Node.js
			</h2>
			<p><a target="_blank" href="http://nodejs.org/">Node.js</a> é um web server. Acesse o site oficial do Node e o <a target="_blank" href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js">StackOverflow</a> para mais informações.</p>
		</div>
	</div>
	<div class="well">
		<h2>Documentação</h2>
		<p>
			
			<ul>
				<li><a target="_blank" href="http://meanjs.org/docs.html">MEAN.JS Documentation</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/generator.html">Yeoman Generator</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/modules.html">Modules</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/changelog.html">Changelog</a>
				</li>
				<li><a target="_blank" href="http://meanjs.org/community.html">Community</a>
				</li>
				<li><a target="_blank" href="http://blog.meanjs.org">Blog</a>
				</li>
			</ul>
		</p>
	</div>
	<br>Mantenha-nos informado,
	<br>peTIt Team.
</section>
