<section data-ng-controller="TaxesController" data-ng-init="find()">

    <div class="panel panel-warning">
        <div class="panel-heading">
            <h3>Impostos</h3>
            <div class="input-group">
              <input type="text" class="form-control" ng-model="searchText" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-warning" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
                <a class="btn btn-warning" href="/#!/taxes/create">
                    <i class="glyphicon glyphicon-plus" > Novo</i>
                </a>                 
              </span>
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-hover table-bordered table-condensed table-responsive">
                <thead data-ng-show="!taxes.$resolved || taxes.length">
                    <tr class="primary" >
                        <th class="col-xs-2">Nome</th>
                        <th class="col-xs-7">Tipo</th>
                        <th class="col-xs-2">Valor</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="tax in taxes | filter:searchText" >
                        <td data-ng-bind="tax.name" ></td>
                        <td data-ng-bind="tax.type.name"></td>
                        <td class="text-right" data-ng-bind="tax.value | currency: 'R$ '"></td>
                        <td>
                            <a class="btn btn-xs btn-danger"  data-ng-click="remove(tax);" >
                            <i class="glyphicon glyphicon-trash"></i>
                            </a>
                            <a class="btn btn-xs btn-primary" href="/#!/taxes/{{tax._id}}/edit" >
                            <i class="glyphicon glyphicon-pencil"></i>
                            </a>                        
                        </td>
                    </tr>
                </tbody>
            </table>             

            <nav class="alert-warning navbar navbar-inverse">
                <div class="btn-group" role="group">       
                    <a class="btn btn-warning navbar-btn navbar-left" href="#" aria-label="Anterior">
                        <span aria-hidden="true"></span>
                        <i class="glyphicon glyphicon-chevron-left"></i>                        
                    </a>
                    <a class="btn btn-warning navbar-btn navbar-left" href="#" aria-label="1">
                        <span aria-hidden="true"></span>
                        1                        
                    </a>
                    <a class="btn btn-warning navbar-btn navbar-left" href="#" aria-label="2">
                        <span aria-hidden="true"></span>
                        2                        
                    </a>
                    <a class="btn btn-warning navbar-btn navbar-left" href="#" aria-label="3">
                        <span aria-hidden="true"></span>
                        3                        
                    </a>
                    <a class="btn btn-warning navbar-btn navbar-left" href="#" aria-label="Próximo">
                        <span aria-hidden="true"></span>
                        <i class="glyphicon glyphicon-chevron-right"></i>                        
                    </a>
                </div>
                <small class="navbar-text navbar-left">
                    {{taxes.length}} Resultado(s) encontrado(s)               
                </small>            
            </nav>
        </div>
    </div>        
</section>